@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(5deg); }
  95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

/* Анимация №2. Точки */
@mixin animation-mixin-dots($name, $first-anim, $second-anim) {
  @keyframes #{$name} {
    0% { transform: translateX(0%); }
    25% { transform: translateX($first-anim); }
    50% { transform: translateX(0%); }
    75% { transform: translateX($second-anim); }
  }
}

@include animation-mixin-dots(anim-dot-1, 75%, 300%);
@include animation-mixin-dots(anim-dot-2, -225%, -25%);
@include animation-mixin-dots(anim-dot-3, 100%, 200%);
@include animation-mixin-dots(anim-dot-4, -200%, -250%);
@include animation-mixin-dots(anim-dot-5, 100%, 200%);
@include animation-mixin-dots(anim-dot-6, -225%, -25%);
@include animation-mixin-dots(anim-dot-7, 75%, 350%);

/* Анимация №4. Навигация */

@keyframes anim-pagination {
  0% { content: "1 / 5"; }
  10% { content: "1 / 5"; }
  20% { content: "2 / 5"; }
  30% { content: "3 / 5"; }
  40% { content: "4 / 5"; }
  50% { content: "5 / 5"; }
  60% { content: "4 / 5"; }
  70% { content: "3 / 5"; }
  80% { content: "2 / 5"; }
  90% { content: "1 / 5"; }
  100% { content: "1 / 5"; }
}

// - Arrow right
@keyframes anim-pagination-right-bef {
  0% { transform: rotate(35deg); opacity: 1; }
  40% { transform: rotate(35deg); opacity: 1; }
  50% { transform: rotate(0); }
  60% { transform: rotate(35deg); opacity: 1; }
  100% { transform: rotate(35deg); opacity: 1; }
}
@keyframes anim-pagination-right-aft {
  0% { transform: rotate(-35deg); opacity: 1; }
  40% { transform: rotate(-35deg); opacity: 1; }
  50% { transform: rotate(0); }
  60% { transform: rotate(-35deg); opacity: 1; }
  100% { transform: rotate(-35deg); opacity: 1; }
}

// - Arrow left
@keyframes anim-pagination-left-bef {
  10% { transform: rotate(0); }
  20% { transform: rotate(-35deg); opacity: 1; }
  80% { transform: rotate(-35deg); opacity: 1; }
  90% { transform: rotate(0); }
}
@keyframes anim-pagination-left-aft {
  10% { transform: rotate(0); }
  20% { transform: rotate(35deg); opacity: 1; }
  80% { transform: rotate(35deg); opacity: 1; }
  90% { transform: rotate(0); }
}

/* Анимация №11. Marvel */

// Iron man
@keyframes iron-man-fly {
  5% { transform: translateY(0); }
  13% { transform: translateY(-500%); }
  20% { transform: translateY(0); }
}

@keyframes iron-man-face {
  0% { transform: scaleY(1); }
  5% { transform: scaleY(0.6); }
  10% { transform: scaleY(0.6); }
  11% { transform: scaleY(1); }
}

@keyframes iron-man-left-arm {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(30deg); }
  20% { transform: rotate(30deg); }
  25% { transform: rotate(0deg); }
}
@keyframes iron-man-right-arm {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(-30deg); }
  20% { transform: rotate(-30deg); }
  25% { transform: rotate(0deg); }
}

@keyframes iron-man-left-wrist {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(90deg) translateY(50%); }
  20% { transform: rotate(90deg) translateY(50%); }
  25% { transform: rotate(0deg); }
}
@keyframes iron-man-right-wrist {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(-90deg) translateY(50%); }
  20% { transform: rotate(-90deg) translateY(50%); }
  25% { transform: rotate(0deg); }
}

@keyframes iron-man-laser {
  2% { opacity: 0; }
  3% { opacity: 1; }
  4% { opacity: 0; }
  5% { opacity: 1; }
  19% { opacity: 1; }
  22% { opacity: 0; }
}

// Tor
@keyframes tor-left-arm {
  0% { transform: rotate(0deg) scaleX(1); }
  6% {transform: rotate(160deg) scaleX(-1); }
  16% { transform: rotate(160deg) scaleX(-1); }
  25% { transform: rotate(0deg) scaleX(1); }
}

@keyframes tor-hammer {
  7% { box-shadow: none; background-color: black; }
  8% { box-shadow: 0px 0px 100px 1px rgba(0, 199, 255, 0.7); background-color: rgb(0, 199, 255); }
  9% { box-shadow: none; background-color: rgb(0, 199, 255); background-color: rgb(0, 199, 255); }
  10% { box-shadow: 0px 0px 100px 1px rgba(0, 199, 255, 0.7); background-color: rgb(0, 199, 255); }
  11% { box-shadow: none; background-color: rgb(0, 199, 255); background-color: rgb(0, 199, 255); }
  12% { box-shadow: 0px 0px 100px 1px rgba(0, 199, 255, 0.7); background-color: rgb(0, 199, 255); }
  16% { box-shadow: none; background-color: black; }
}

// Hulk
@keyframes hulk-left-arm {
  0% { transform: rotate(0deg) scaleX(1); }
  6% {transform: rotate(160deg) scaleX(-1); }
  16% { transform: rotate(160deg) scaleX(-1); }
  25% { transform: rotate(0deg) scaleX(1); }
}
@keyframes hulk-right-arm {
  0% { transform: rotate(0deg) scaleX(1); }
  6% { transform: rotate(-160deg) scaleX(-1); }
  16% { transform: rotate(-160deg) scaleX(-1); }
  25% { transform: rotate(0deg) scaleX(1); }
}

@keyframes hulk-right-arm-bg {
  25% { background-color: white; }
  30% { background-color: #554091 }
  40% { background-color: #554091 }
  45% { background-color: white; }
}

@keyframes hulk-top-mouse {
  0% { top: 0; }
  6% { top: -100%; }
  16% { top: -100%; }
  25% { top: 0; }
}
@keyframes hulk-bottom-mouse {
  0% { bottom: 0; }
  6% { bottom: -100%; }
  16% { bottom: -100%; }
  25% { bottom: 0; }
}

// Captain
@keyframes captain-right-arm {
  0% { transform: translateX(-40%) rotate(0deg); }
  6% { transform: translateX(-40%) rotate(-90deg); }
  7% { transform: translateX(-40%) rotate(-90deg) scaleY(-1); }
  10% { transform: translateX(-40%) rotate(-90deg) scaleY(1); }
  20% { transform: translateX(-40%) rotate(-90deg); }
  25% { transform: translateX(-40%) rotate(0deg); }
}

@keyframes captain-shield {
  0% { transform: scaleX(1) translate(-45%, -75%); }
  5% { transform: scaleX(0.2) translate(-225%, -75%); }
  6% { transform: scaleX(0.2) translate(-225%, -75% ); }
  7% { transform: scaleX(0.2) translate(-225%, 1500% ); }
  8% { transform: scaleX(0.2) translate(1000px, 1500%); }
  11% { transform: scaleX(0.2) translate(1000px, 1500%); }
  12% { transform: scaleX(0.2) translate(-225%, 1500%); }
  13% { transform: scaleX(0.2) translate(-225%, -75%); }
  20% { transform: scaleX(0.2) translate(-225%, -75%); }
  25% { transform: scaleX(1) translate(-45%, -75%); }
}

// Other
@keyframes earthshake {
  7% { transform: translateX(20%) rotate(0); }
  8% { transform: translateX(20%) rotate(10deg); }
  9% { transform: translateX(20%) rotate(-10deg); }
  10% { transform: translateX(20%) rotate(10deg); }
  11% { transform: translateX(20%) rotate(-10deg); }
  12% { transform: translateX(20%) rotate(10deg); }
  13% { transform: translateX(20%) rotate(-10deg); }
  14% { transform: translateX(20%) rotate(0); }
}

@keyframes cloud-background {
  25% { background-color: white; }
  30% { background-color: #554091 }
  40% { background-color: #554091 }
  45% { background-color: white; }
}

@keyframes scale {
  to { transform: translateX(-45px) scale(1.5, 1.5) }
}

@keyframes lightCloud {
  50% { background-color: #A586FF; }
  52% { background-color: #f2f2f2; }
  54% { background-color: #A586FF; }
}

@keyframes moveCloud {
  25% { left: -100%; }
  30% { left: 35%; }
  40% { left: 35%; }
  45% { left: -100%; }
}

@keyframes lightning {
  32% { opacity: 0 }
  33% { opacity: 1 }
  34% { opacity: 0 }
  35% { opacity: 1 }
  36% { opacity: 0 }
}