@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(5deg); }
  95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

/* Анимация №2. Точки */
@mixin animation-mixin-dots($name, $first-anim, $second-anim) {
  @keyframes #{$name} {
    0% { transform: translateX(0%); }
    25% { transform: translateX($first-anim); }
    50% { transform: translateX(0%); }
    75% { transform: translateX($second-anim); }
  }
}

@include animation-mixin-dots(anim-dot-1, 75%, 300%);
@include animation-mixin-dots(anim-dot-2, -225%, -25%);
@include animation-mixin-dots(anim-dot-3, 100%, 200%);
@include animation-mixin-dots(anim-dot-4, -200%, -250%);
@include animation-mixin-dots(anim-dot-5, 100%, 200%);
@include animation-mixin-dots(anim-dot-6, -225%, -25%);
@include animation-mixin-dots(anim-dot-7, 75%, 350%);

/* Анимация №4. Навигация */

@keyframes anim-pagination {
  0% { content: "1 / 5"; }
  10% { content: "1 / 5"; }
  20% { content: "2 / 5"; }
  30% { content: "3 / 5"; }
  40% { content: "4 / 5"; }
  50% { content: "5 / 5"; }
  60% { content: "4 / 5"; }
  70% { content: "3 / 5"; }
  80% { content: "2 / 5"; }
  90% { content: "1 / 5"; }
  100% { content: "1 / 5"; }
}

// - Arrow right
@keyframes anim-pagination-right-bef {
  0% { transform: rotate(35deg); opacity: 1; }
  40% { transform: rotate(35deg); opacity: 1; }
  50% { transform: rotate(0); }
  60% { transform: rotate(35deg); opacity: 1; }
  100% { transform: rotate(35deg); opacity: 1; }
}
@keyframes anim-pagination-right-aft {
  0% { transform: rotate(-35deg); opacity: 1; }
  40% { transform: rotate(-35deg); opacity: 1; }
  50% { transform: rotate(0); }
  60% { transform: rotate(-35deg); opacity: 1; }
  100% { transform: rotate(-35deg); opacity: 1; }
}

// - Arrow left
@keyframes anim-pagination-left-bef {
  10% { transform: rotate(0); }
  20% { transform: rotate(-35deg); opacity: 1; }
  80% { transform: rotate(-35deg); opacity: 1; }
  90% { transform: rotate(0); }
}
@keyframes anim-pagination-left-aft {
  10% { transform: rotate(0); }
  20% { transform: rotate(35deg); opacity: 1; }
  80% { transform: rotate(35deg); opacity: 1; }
  90% { transform: rotate(0); }
}

/* Анимация №11. Marvel */

// Hulk
@keyframes hulk-left-arm {
  0% { transform: rotate(0deg) scaleX(1); }
  25% {transform: rotate(160deg) scaleX(-1); }
  55% { transform: rotate(160deg) scaleX(-1); }
  100% { transform: rotate(0deg) scaleX(1); }
}
@keyframes hulk-right-arm {
  0% { transform: rotate(0deg) scaleX(1); }
  25% { transform: rotate(-160deg) scaleX(-1); }
  55% { transform: rotate(-160deg) scaleX(-1); }
  100% { transform: rotate(0deg) scaleX(1); }
}

@keyframes hulk-top-mouse {
  0% { top: 0; }
  25% { top: -100%; }
  55% { top: -100%; }
  100% { top: 0; }
}
@keyframes hulk-bottom-mouse {
  0% { bottom: 0; }
  25% { bottom: -100%; }
  55% { bottom: -100%; }
  100% { bottom: 0; }
}

// Other
@keyframes earthshake {
  30% { transform: translateX(20%) rotate(0); }
  35% { transform: translateX(20%) rotate(10deg); }
  37% { transform: translateX(20%) rotate(-10deg); }
  40% { transform: translateX(20%) rotate(10deg); }
  43% { transform: translateX(20%) rotate(-10deg); }
  45% { transform: translateX(20%) rotate(10deg); }
  48% { transform: translateX(20%) rotate(-10deg); }
  55% { transform: translateX(20%) rotate(0); }
}