.anim-marvel {
  position: relative;
  display: flex;

  & .iron-man {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    z-index: 0;

    width: 275px;
    height: 550px;

    &__head-container {
      width: 40px;
      height: 15%;

      overflow: hidden;

      border-radius: 25% 25% 0 0;

      background-color: #a63600;

      .iron-man__head-mask {
        position: relative;

        display: flex;
        align-items: center;
        flex-direction: column;

        width: 100%;
        height: 35px;

        background-color: #deb50a;

        & > div:nth-of-type(1) {
          position: relative;

          margin-bottom: -5px;

          top: -12px;

          width: 80%;
          height: 40px;
          border-radius: 50%;

          background-color: #a63600;
        }

        .iron-man__head-mask-eyes {
          margin: 0 auto;

          display: flex;
          justify-content: space-between;

          width: 80%;
          height: 7px;

          & > * {
            width: 25%;
            height: 100%;

            background-color: #ffffff;
          }
        }

        & > div:nth-of-type(3) {
          position: relative;

          bottom: -10px;

          width: 20px;
          height: 65%;

          background-color: #deb50a;
        }
      }
    }

    &__body-container {
      position: relative;

      display: flex;

      top: -35px;

      width: 100%;
      height: 85%;

      .iron-man__arm-left,
      .iron-man__arm-right {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 20%;

        .iron-man__arm-shoulder-joint {
          width: 50px;
          height: 50px;

          border-radius: 50%;

          z-index: 2;
        }

        .iron-man__arm-shoulder {
          position: relative;

          top: -5px;

          z-index: 1;

          width: 15px;
          height: 65px;

          & > div {
            position: relative;

            top: 75%;

            width: 100%;
            height: 45%;

            border-radius: 0 0 0 50%;
            background-color: inherit;
          }
        }

        .iron-man__arm-forearm {
          position: relative;

          width: 50px;
          height: 100px;

          bottom: 10px;

          overflow: hidden;
          & > div {
            position: relative;

            width: 100px;
            height: 100%;

            top: 0;

            border-radius: 45%;
          }
        }

        .iron-man__arm-wrist {
          position: relative;

          top: -25px;

          width: 15px;
          height: 15px;
        }
      }

      .iron-man__arm-left {
        position: relative;
        right: -25px;

        .iron-man__arm-shoulder-joint {
          background-color: #922800;
        }

        .iron-man__arm-shoulder {
          background-color: #bf8a1e;
          & > div {
            border-radius: 0 0 0 50%;
          }
        }

        .iron-man__arm-forearm {
          transform: translateX(-36%);
          & > div {
            right: 0;
            background-color: #922800;
          }
        }

        .iron-man__arm-wrist {
          right: -15px;
          border-radius: 0 50% 50% 0;
          background-color: #922800;
        }
      }

      .iron-man__arm-right {
        position: relative;
        left: -25px;

        .iron-man__arm-shoulder-joint {
          background-color: #a63600;
        }

        .iron-man__arm-shoulder {
          background-color: #deb50a;
          & > div {
            border-radius: 0 0 50% 0;
          }
        }

        .iron-man__arm-forearm {
          transform: translateX(34%);

          & > div {
            right: 100%;
            background-color: #a63600;
          }
        }

        .iron-man__arm-wrist {
          left: -15px;
          border-radius: 50% 0 0 50%;
          background-color: #a63600;
        }
      }

      .iron-man__body-center {
        display: flex;
        align-items: center;
        flex-direction: column;

        position: relative;

        top: 15px;

        width: 80%;
        height: 100%;

        overflow: hidden;

        & > * {
          position: relative;
          top: -32%;
        }

        .iron-man__body-torso {
          width: 100%;
          height: 250px;

          border-radius: 50%;
          background-color: #922800;

          z-index: 1;

          overflow: hidden;

          &-shadow {
            position: absolute;

            width: 100%;
            height: 100%;

            right: -30px;
            bottom: -10px;

            border-radius: 50%;
            background-color: #a63600;

          }
          &-core {
            position: absolute;

            width: 50px;
            height: 50px;

            bottom: 38px;
            left: 50%;

            border-radius: 50%;
            background-color: #deb50a;

            transform: translateX(-50%);

            & > div {
              position: relative;

              width: 35px;
              height: 35px;

              top: 50%;
              left: 50%;

              border-radius: 50%;
              background-color: white;

              transform: translate(-50%, -50%);
            }
          }
        }

        .iron-man__body-pelvis {
          width: 70px;
          height: 70px;

          top: -38%;

          background-color: #922800;

          overflow: hidden;

          &-shadow {
            position: absolute;

            width: 100%;
            height: 100%;

            right: -30px;
            bottom: 0px;

            background-color: #a63600;
          }
        }

        .iron-man__legs-container {
          width: 70px;
          height: 150px;

          top: -39%;

          display: flex;
          justify-content: space-between;

          .iron-man__legs-left,
          .iron-man__legs-right {
            position: relative;

            width: 25%;
            height: 190px;

            & > div:nth-of-type(1) {
              position: absolute;

              bottom: 80%;
              left: 0;

              width: 100%;
              height: 50px;
            }

            & > div:nth-of-type(2) {
              position: absolute;

              bottom: 0;

              transform: translateX(-25%);

              width: 200%;
              height: 100px;
            }
          }

          .iron-man__legs-left {
            background-color: #bf8a1e;

            & > div:nth-of-type(1) {
              border-radius: 0 50% 0 0;
              background-color: #bf8a1e;
            }

            & > div:nth-of-type(2) {
              border-radius: 0 50% 0 0;
              background-color: #922800;
            }
          }

          .iron-man__legs-right {
            background-color: #deb50a;

            & > div:nth-of-type(1) {
              border-radius: 50% 0 0 0;
              background-color: #deb50a;
            }

            & > div:nth-of-type(2) {
              border-radius: 50% 0 0 0;
              background-color: #a63600;
            }
          }
        }
      }
    }
  }

  & .tor {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    bottom: 27px;
    left: -71px;

    z-index: 1;

    width: 275px;
    height: 550px;

    &__head-container {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 40px;
      height: 15%;

      background-color: #f2deaa;

      .tor__head-helmet {
        position: relative;

        display: flex;
        align-items: end;

        bottom: 49%;

        & > div:nth-of-type(1),
        & > div:nth-of-type(3) {
          width: 20px;
          height: 40px;
        }
        
        & > div:nth-of-type(1) {
          transform: translateX(35%);
          border-radius: 0 50% 0 25%;
          background-color: #669699;
        }

        & > div:nth-of-type(2) {
          z-index: 1;
          width: 40px;
          height: 25px;
          border-radius: 50% 50% 0 0;
          background-color: #73a9c5;
        }

        & > div:nth-of-type(3) {
          border-radius: 50% 0 25% 0;
          background-color: #8db9e4;
        }
      }
      .tor__head-hair {
        position: absolute;
        width: 100%;
        height: 10px;

        background-color: #c6af50;
      }
      .tor__head-moustache {
        width: 50%;
        height: 20px;

        transform: translateY(-100%);

        background-color: #c6af50;
      }
      .tor__head-beard {
        width: 100%;
        height: 20px;

        transform: translateY(-100%);

        overflow: hidden;

        & > div {
          position: relative;
          top: -10px;

          width: 100%;
          height: 20px;

          background-color: #c6af50;
          border-radius: 40%;
        }
      }
      .tor__head-backhair {
        position: absolute;
        bottom: 10px;

        width: 50px;
        height: 50px;

        transform: rotate(45deg);

        z-index: -1;

        background-color: #c6af50;
      }
    }

    &__body-container {
      position: relative;

      display: flex;

      top: -30px;

      width: 100%;
      height: 85%;

      .tor__arm-left,
      .tor__arm-right {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 15%;

        .tor__arm-shoulder-joint {
          width: 75px;
          height: 75px;

          z-index: 2;

          background-color: #922800;
        }

        .tor__arm-shoulder {
          position: relative;

          top: -25px;

          width: 65px;
          height: 120px;
        }

        .tor__arm-wrist {
          width: 15px;
          height: 25px;

          border-radius: 0 0 30% 30%;

          & > div {
            position: relative;

            top: 5px;

            width: 100%;
            height: 7px;

            background-color: black;
          }
        }
      }

      .tor__arm-left {
        position: relative;
        right: -25px;

        .tor__arm-shoulder-joint {
          background-color: #ffc587;
          border-radius: 50% 0 50% 50%;
        }

        .tor__arm-shoulder {
          background-color: #ffc587;
          border-radius: 0 0 0 50%;
        }

        .tor__arm-wrist {
          transform: translate(165%, -100%);
          background-color: #ffc587;

          z-index: 1;
        }

        .tor__arm-hammer {
          display: flex;
          align-items: center;
          flex-direction: column;

          transform: translate(40%, -30%);

          width: 65px;
          height: 100px;

          & > div:nth-of-type(1) {
            width: 15%;
            height: 50%;

            background-color: black;
          }

          & > div:nth-of-type(2) {
            width: 100%;
            height: 50%;

            border-radius: 25%;
            background-color: black;
          }
        }
      }

      .tor__arm-right {
        position: relative;
        left: -25px;

        .tor__arm-shoulder-joint {
          background-color: #fdd0e4;
          border-radius: 0 50% 50% 50%;
        }

        .tor__arm-shoulder {
          background-color: #fdd0e4;
          border-radius: 0 0 50% 0;
        }

        .tor__arm-wrist {
          transform: translate(-165%, -100%);
          background-color: #fdd0e4;
        }
      }

      .tor__body-center {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 90%;
        overflow: hidden;

        z-index: 3;

        .tor__body-torso {
          position: relative;
          width: 192px;
          height: 192px;

          transform: translateY(-60%) rotate(45deg) skew(12deg, 12deg);

          border-radius: 0 0 10% 0;
          background-color: #004177;

          & > div:nth-of-type(1),
          & > div:nth-of-type(2),
          & > div:nth-of-type(3),
          & > div:nth-of-type(4) {
            position: absolute;

            width: 50px;
            height: 50px;

            border-radius: 50%;

            transform: skew(-12deg, -12deg) rotate(-45deg);

            background-color: #92bdea;
          }

          & > div:nth-of-type(3),
          & > div:nth-of-type(4) {
            width: 30px;
            height: 30px;
          }

          & > div:nth-of-type(1) {
            bottom: 12px;
            left: 72px;
          }

          & > div:nth-of-type(2) {
            bottom: 70px;
            right: 12px;
          }

          & > div:nth-of-type(3) {
            bottom: 8px;
            left: 118px;
          }

          & > div:nth-of-type(4) {
            bottom: 44px;
            right: 8px;
          }
        }

        .tor__body-pelvis {
          position: relative;

          top: -90px;

          width: 60px;

          & > div:nth-of-type(1) {
            width: 100%;
            height: 5px;

            background-color: #9b955a;
          }

          & > div:nth-of-type(2) {
            width: 100%;
            height: 30px;

            background-color: #004177;
          }

          .tor__body-pelvis-trousers {
            display: flex;
            justify-content: space-between;


            width: 100%;

            .tor__body-trousers-left,
            .tor__body-trousers-right {
              width: 40%;
              height: 75px;

              background-color: #004177;
            }

            .tor__body-trousers-left > div,
            .tor__body-trousers-right > div {
              position: relative;

              width: 100%;
              height: 12px;

              z-index: 1;

              top: 100%;

              border-radius: 50% 50% 0 0;
            }

            .tor__body-trousers-left > div {
              background-color: #c79614;
            }

            .tor__body-trousers-right > div {
              background-color: #b8410d;
            }
          }
        }
        .tor__legs-container {
          position: relative;
 
          display: flex;
          justify-content: space-around;

          top: -80px;

          width: 60px;

          .tor__legs-left,
          .tor__legs-right {
            width: 15px;
            height: 135px;

            & > div {
              position: relative;

              width: 30px;
              height: 5px;

              top: 100%;
            }
          }

          .tor__legs-left {
            background-color: #b8410d;

            & > div {
              transform: translateX(-50%);
              background-color: #9b955a;
            }
          }

          .tor__legs-right {
            background-color: #c79614;

            & > div {
              background-color: #9b955a;
            }
          }
        }
      }

      .tor__raincoat {
        position: absolute;

        left: 15%;
        top: 0;

        z-index: -1;

        width: 70%;
        height: 320px;

        background-color: #a72300;

        .tor__raincoat-shadow {
          width: 14%;
          height: 100%;

          background-color: #7a1804;
        }
      }
    }
  }

  & .hulk {

  }

  & .captain {

  }
}