.anim-marvel {
  position: relative;
  align-items: end;
  display: flex;

  transform: translateX(20%);

  & .iron-man {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    z-index: 0;

    width: 275px;
    height: 550px;

    &__head-container {
      width: 40px;
      height: 15%;

      overflow: hidden;

      border-radius: 25% 25% 0 0;

      background-color: #a63600;

      .iron-man__head-mask {
        position: relative;

        display: flex;
        align-items: center;
        flex-direction: column;

        width: 100%;
        height: 35px;

        background-color: #deb50a;

        & > div:nth-of-type(1) {
          position: relative;

          margin-bottom: -5px;

          top: -12px;

          width: 80%;
          height: 40px;
          border-radius: 50%;

          background-color: #a63600;
        }

        .iron-man__head-mask-eyes {
          margin: 0 auto;

          display: flex;
          justify-content: space-between;

          width: 80%;
          height: 7px;

          & > * {
            width: 25%;
            height: 100%;

            background-color: #ffffff;
          }
        }

        & > div:nth-of-type(3) {
          position: relative;

          bottom: -10px;

          width: 20px;
          height: 65%;

          background-color: #deb50a;
        }
      }
    }

    &__body-container {
      position: relative;

      display: flex;

      top: -35px;

      width: 100%;
      height: 85%;

      .iron-man__arm-left,
      .iron-man__arm-right {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 20%;

        .iron-man__arm-shoulder-joint {
          width: 50px;
          height: 50px;

          border-radius: 50%;

          z-index: 2;
        }

        .iron-man__arm-shoulder {
          position: relative;

          top: -5px;

          z-index: 1;

          width: 15px;
          height: 65px;

          & > div {
            position: relative;

            top: 75%;

            width: 100%;
            height: 45%;

            border-radius: 0 0 0 50%;
            background-color: inherit;
          }
        }

        .iron-man__arm-forearm {
          position: relative;

          width: 50px;
          height: 100px;

          bottom: 10px;

          overflow: hidden;
          & > div {
            position: relative;

            width: 100px;
            height: 100%;

            top: 0;

            border-radius: 45%;
          }
        }

        .iron-man__arm-wrist {
          position: relative;

          top: -25px;

          width: 15px;
          height: 15px;
        }
      }

      .iron-man__arm-left {
        position: relative;
        right: -25px;

        .iron-man__arm-shoulder-joint {
          background-color: #922800;
        }

        .iron-man__arm-shoulder {
          background-color: #bf8a1e;
          & > div {
            border-radius: 0 0 0 50%;
          }
        }

        .iron-man__arm-forearm {
          transform: translateX(-36%);
          & > div {
            right: 0;
            background-color: #922800;
          }
        }

        .iron-man__arm-wrist {
          right: -15px;
          border-radius: 0 50% 50% 0;
          background-color: #922800;
        }
      }

      .iron-man__arm-right {
        position: relative;
        left: -25px;

        .iron-man__arm-shoulder-joint {
          background-color: #a63600;
        }

        .iron-man__arm-shoulder {
          background-color: #deb50a;
          & > div {
            border-radius: 0 0 50% 0;
          }
        }

        .iron-man__arm-forearm {
          transform: translateX(34%);

          & > div {
            right: 100%;
            background-color: #a63600;
          }
        }

        .iron-man__arm-wrist {
          left: -15px;
          border-radius: 50% 0 0 50%;
          background-color: #a63600;
        }
      }

      .iron-man__body-center {
        display: flex;
        align-items: center;
        flex-direction: column;

        position: relative;

        top: 15px;

        width: 80%;
        height: 100%;

        overflow: hidden;

        & > * {
          position: relative;
          top: -32%;
        }

        .iron-man__body-torso {
          width: 100%;
          height: 250px;

          border-radius: 50%;
          background-color: #922800;

          z-index: 1;

          overflow: hidden;

          &-shadow {
            position: absolute;

            width: 100%;
            height: 100%;

            right: -30px;
            bottom: -10px;

            border-radius: 50%;
            background-color: #a63600;

          }
          &-core {
            position: absolute;

            width: 50px;
            height: 50px;

            bottom: 38px;
            left: 50%;

            border-radius: 50%;
            background-color: #deb50a;

            transform: translateX(-50%);

            & > div {
              position: relative;

              width: 35px;
              height: 35px;

              top: 50%;
              left: 50%;

              border-radius: 50%;
              background-color: white;

              transform: translate(-50%, -50%);
            }
          }
        }

        .iron-man__body-pelvis {
          width: 70px;
          height: 70px;

          top: -38%;

          background-color: #922800;

          overflow: hidden;

          &-shadow {
            position: absolute;

            width: 100%;
            height: 100%;

            right: -30px;
            bottom: 0px;

            background-color: #a63600;
          }
        }

        .iron-man__legs-container {
          width: 70px;
          height: 150px;

          top: -39%;

          display: flex;
          justify-content: space-between;

          .iron-man__legs-left,
          .iron-man__legs-right {
            position: relative;

            width: 25%;
            height: 190px;

            & > div:nth-of-type(1) {
              position: absolute;

              bottom: 80%;
              left: 0;

              width: 100%;
              height: 50px;
            }

            & > div:nth-of-type(2) {
              position: absolute;

              bottom: 0;

              transform: translateX(-25%);

              width: 200%;
              height: 100px;
            }
          }

          .iron-man__legs-left {
            background-color: #bf8a1e;

            & > div:nth-of-type(1) {
              border-radius: 0 50% 0 0;
              background-color: #bf8a1e;
            }

            & > div:nth-of-type(2) {
              border-radius: 0 50% 0 0;
              background-color: #922800;
            }
          }

          .iron-man__legs-right {
            background-color: #deb50a;

            & > div:nth-of-type(1) {
              border-radius: 50% 0 0 0;
              background-color: #deb50a;
            }

            & > div:nth-of-type(2) {
              border-radius: 50% 0 0 0;
              background-color: #a63600;
            }
          }
        }
      }
    }
  }

  & .tor {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    bottom: 27px;
    left: -71px;

    z-index: 1;

    width: 275px;
    height: 550px;

    &__head-container {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 40px;
      height: 15%;

      background-color: #f2deaa;

      .tor__head-helmet {
        position: relative;

        display: flex;
        align-items: end;

        bottom: 49%;

        & > div:nth-of-type(1),
        & > div:nth-of-type(3) {
          width: 20px;
          height: 40px;
        }
        
        & > div:nth-of-type(1) {
          transform: translateX(35%);
          border-radius: 0 50% 0 25%;
          background-color: #669699;
        }

        & > div:nth-of-type(2) {
          z-index: 1;
          width: 40px;
          height: 25px;
          border-radius: 50% 50% 0 0;
          background-color: #73a9c5;
        }

        & > div:nth-of-type(3) {
          border-radius: 50% 0 25% 0;
          background-color: #8db9e4;
        }
      }
      .tor__head-hair {
        position: absolute;
        width: 100%;
        height: 10px;

        background-color: #c6af50;
      }
      .tor__head-moustache {
        width: 50%;
        height: 20px;

        transform: translateY(-100%);

        background-color: #c6af50;
      }
      .tor__head-beard {
        width: 100%;
        height: 20px;

        transform: translateY(-100%);

        overflow: hidden;

        & > div {
          position: relative;
          top: -10px;

          width: 100%;
          height: 20px;

          background-color: #c6af50;
          border-radius: 40%;
        }
      }
      .tor__head-backhair {
        position: absolute;
        bottom: 10px;

        width: 50px;
        height: 50px;

        transform: rotate(45deg);

        z-index: -1;

        background-color: #c6af50;
      }
    }

    &__body-container {
      position: relative;

      display: flex;

      top: -30px;

      width: 100%;
      height: 85%;

      .tor__arm-left,
      .tor__arm-right {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 15%;

        .tor__arm-shoulder-joint {
          width: 75px;
          height: 75px;

          z-index: 2;

          background-color: #922800;
        }

        .tor__arm-shoulder {
          position: relative;

          top: -25px;

          width: 65px;
          height: 120px;
        }

        .tor__arm-wrist {
          width: 15px;
          height: 25px;

          border-radius: 0 0 30% 30%;

          & > div {
            position: relative;

            top: 5px;

            width: 100%;
            height: 7px;

            background-color: black;
          }
        }
      }

      .tor__arm-left {
        position: relative;
        right: -25px;

        .tor__arm-shoulder-joint {
          background-color: #ffc587;
          border-radius: 50% 0 50% 50%;
        }

        .tor__arm-shoulder {
          background-color: #ffc587;
          border-radius: 0 0 0 50%;
        }

        .tor__arm-wrist {
          transform: translate(165%, -100%);
          background-color: #ffc587;

          z-index: 1;
        }

        .tor__arm-hammer {
          display: flex;
          align-items: center;
          flex-direction: column;

          transform: translate(40%, -30%);

          width: 65px;
          height: 100px;

          & > div:nth-of-type(1) {
            width: 15%;
            height: 50%;

            background-color: black;
          }

          & > div:nth-of-type(2) {
            width: 100%;
            height: 50%;

            border-radius: 25%;
            background-color: black;
          }
        }
      }

      .tor__arm-right {
        position: relative;
        left: -25px;

        .tor__arm-shoulder-joint {
          background-color: #fdd0e4;
          border-radius: 0 50% 50% 50%;
        }

        .tor__arm-shoulder {
          background-color: #fdd0e4;
          border-radius: 0 0 50% 0;
        }

        .tor__arm-wrist {
          transform: translate(-165%, -100%);
          background-color: #fdd0e4;
        }
      }

      .tor__body-center {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 90%;
        overflow: hidden;

        z-index: 3;

        .tor__body-torso {
          position: relative;
          width: 192px;
          height: 192px;

          transform: translateY(-60%) rotate(45deg) skew(12deg, 12deg);

          border-radius: 0 0 10% 0;
          background-color: #004177;

          & > div:nth-of-type(1),
          & > div:nth-of-type(2),
          & > div:nth-of-type(3),
          & > div:nth-of-type(4) {
            position: absolute;

            width: 50px;
            height: 50px;

            border-radius: 50%;

            transform: skew(-12deg, -12deg) rotate(-45deg);

            background-color: #92bdea;
          }

          & > div:nth-of-type(3),
          & > div:nth-of-type(4) {
            width: 30px;
            height: 30px;
          }

          & > div:nth-of-type(1) {
            bottom: 12px;
            left: 72px;
          }

          & > div:nth-of-type(2) {
            bottom: 70px;
            right: 12px;
          }

          & > div:nth-of-type(3) {
            bottom: 8px;
            left: 118px;
          }

          & > div:nth-of-type(4) {
            bottom: 44px;
            right: 8px;
          }
        }

        .tor__body-pelvis {
          position: relative;

          top: -90px;

          width: 60px;

          & > div:nth-of-type(1) {
            width: 100%;
            height: 5px;

            background-color: #9b955a;
          }

          & > div:nth-of-type(2) {
            width: 100%;
            height: 30px;

            background-color: #004177;
          }

          .tor__body-pelvis-trousers {
            display: flex;
            justify-content: space-between;


            width: 100%;

            .tor__body-trousers-left,
            .tor__body-trousers-right {
              width: 40%;
              height: 75px;

              background-color: #004177;
            }

            .tor__body-trousers-left > div,
            .tor__body-trousers-right > div {
              position: relative;

              width: 100%;
              height: 12px;

              z-index: 1;

              top: 100%;

              border-radius: 50% 50% 0 0;
            }

            .tor__body-trousers-left > div {
              background-color: #c79614;
            }

            .tor__body-trousers-right > div {
              background-color: #b8410d;
            }
          }
        }
        .tor__legs-container {
          position: relative;
 
          display: flex;
          justify-content: space-around;

          top: -80px;

          width: 60px;

          .tor__legs-left,
          .tor__legs-right {
            width: 15px;
            height: 135px;

            & > div {
              position: relative;

              width: 30px;
              height: 5px;

              top: 100%;
            }
          }

          .tor__legs-left {
            background-color: #b8410d;

            & > div {
              transform: translateX(-50%);
              background-color: #9b955a;
            }
          }

          .tor__legs-right {
            background-color: #c79614;

            & > div {
              background-color: #9b955a;
            }
          }
        }
      }

      .tor__raincoat {
        position: absolute;

        left: 15%;
        top: 0;

        z-index: -1;

        width: 70%;
        height: 320px;

        background-color: #a72300;

        .tor__raincoat-shadow {
          width: 14%;
          height: 100%;

          background-color: #7a1804;
        }
      }
    }
  }

  & .hulk {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 575px;
    height: 730px;

    z-index: 0;

    transform: translateX(-55%);

    .hulk__head-container {
      position: relative;

      display: flex;
      align-items: center;
      flex-direction: column;

      width: 80px;
      height: 100px;

      &::before {
        position: absolute;
        content: "";

        width: 80px;
        height: 0;

        top: 50%;
        left: 50%;

        z-index: -1;

        transform: translate(-50%, -50%);

        border-bottom: 80px solid #babd00;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }

      .hulk__head-hair {
        margin-bottom: 10px;

        width: 90%;
        height: 20px;

        border-radius: 50% 50% 0 0;
        background-color: #014501;
      }

      .hulk__head-brows {
        margin-bottom: 10px;

        width: 55%;
        height: 10px;

        background-color: #014501;
      }

      .hulk__head-mous {
        position: relative;

        display: flex;
        flex-direction: column;

        width: 45%;
        height: 25px;

        border-radius: 10px;
        background-color: #4c0804;

        overflow: hidden;

        & > div:first-of-type,
        & > div:last-of-type {
          position: absolute;

          width: 100%;
          height: 50%;

          left: 0;

          background-color: #babd00;
        }

        & > div:first-of-type {
          top: 0;
        }

        & > div:last-of-type {
          bottom: 0;
        }

        & > div:nth-of-type(2),
        & > div:nth-of-type(4) {
          width: 100%;
          height: 5px;
          background-color: white;
        }
        & > div:nth-of-type(3) {
          position: relative;
          margin: 0 auto;

          width: 10px;

          flex-grow: 1;

          &::after {
            position: absolute;
            content: "";

            width: 100%;
            height: 5px;

            bottom: 0;
            left: 50%;

            transform: translateX(-50%);

            border-radius: 50% 50% 0 0;
            background-color: #975a44;
          }
        }
      }
    }
    .hulk__body-container {
      display: flex;
      align-items: start;

      z-index: 1;

      width: 100%;

      .hulk__arm-left,
      .hulk__arm-right {
        position: relative;

        display: flex;
        flex-direction: column;

        transform: translateY(3%);

        width: 25%;

        .hulk__arm-shoulder {
          width: 100%;
          height: 360px;

          & > div {
            position: relative;

            width: 100%;
            height: 100%;

            top: 50%;

            border-radius: 50%;
            background-color: white;
          }
        }

        .hulk__arm-wrist {
          width: 75%;
          height: 100px;

          border-radius: 50%;
        }
      }

      .hulk__arm-left {
        align-items: end;
        right: -100px;
        .hulk__arm-shoulder {
          border-radius: 50% 0 0 40%;
          background-color: #949400;

          & > div {
            left: 50%;
            transform: translate(15%, -40%);
          }
        }

        .hulk__arm-wrist {
          transform: translate(-5%, -85%);
          background-color: #949400;
        }
      }

      .hulk__arm-right {
        align-items: start;
        left: -100px;
        .hulk__arm-shoulder {
          border-radius: 0 50% 40% 0;
          background-color: #babd00;

          & > div {
            right: 50%;
            transform: translate(-15%, -40%);
          }
        }

        .hulk__arm-wrist {
          transform: translate(5%, -85%);
          background-color: #babd00;
        }
      }
    }
    .hulk__body-center {
      position: relative;

      display: flex;
      align-items: center;
      flex-direction: column;

      z-index: 2;

      transform: translateY(-5%);

      width: 65%;

      .hulk__body-torso {
        position: relative;

        width: 100%;
        height: 330px;

        overflow: hidden;

        border-radius: 50%;
        background-color: #949400;

        & > div:nth-of-type(1),
        & > div:nth-of-type(2) {
          position: absolute;

          top: 0;

          width: 100%;
          height: 100%;

          border-radius: 50%;
        }

        & > div:nth-of-type(1) {
          left: 5%;
          background-color: #a1a400;
        }

        & > div:nth-of-type(2) {
          left: 10%;
          background-color: #bcbd00;
        }

        & > div:nth-of-type(3),
        & > div:nth-of-type(4) {
          position: absolute;

          top: 25%;

          width: 15px;
          height: 15px;

          border-radius: 50%;
          background-color: #949400;
        }

        & > div:nth-of-type(3) {
          left: 15%;
        }

        & > div:nth-of-type(4) {
          right: 25%;
        }

        & > div:nth-of-type(5) {
          position: absolute;

          top: 80%;
          left: 50%;

          transform: translateX(-50%);

          width: 10px;
          height: 10px;

          border-radius: 50%;
          background-color: #949400;
        }
      }

      .hulk__body-pelvis {
        width: 70px;

        transform: translateY(-5px);

        .hulk__body-pelvis-belt {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 100%;
          height: 10px;

          background-color: #3e2a2f;

          & > div {
            width: 5px;
            height: 5px;

            background-color: #977ac5;
          }
        }

        & > div:nth-of-type(2) {
          width: 100%;
          height: 10px;

          background: linear-gradient(90deg, #2a1057,#5421a6);
        }

        .hulk__body-pelvis-trousers {
          display: flex;
          justify-content: space-between;

          .hulk__body-trousers-left,
          .hulk__body-trousers-right {
            width: 20%;
            height: 55px;
          }

          .hulk__body-trousers-left {
            background-color: #2a1057;
          }

          .hulk__body-trousers-right {
            background-color: #5421a6;
          }
        }
      }

      .hulk__legs-container {
        display: flex;
        justify-content: space-between;

        width: 70px;

        transform: translateY(-10%);

        .hulk__legs-left,
        .hulk__legs-right {
          position: relative;

          width: 20%;
          height: 97px;

          & > div {
            position: absolute;

            width: 200%;
            height: 5px;

            top: 95%;

            background-color: inherit;
          }
        }

        .hulk__legs-left {
          background-color: #585713;

          & > div {
            transform: translateX(-50%);
          }
        }

        .hulk__legs-right {
          background-color: #bcbd00;
        }
      }
    }
  }

  & .captain {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 325px;
    height: 577px;

    z-index: 1;

    transform: translateX(-185%);

    .captain__head-container {
      display: flex;
      align-items: center;
      flex-direction: column;

      width: 40px;
      height: 12%;

      border-radius: 30% 30% 0 0;
      background-color: #4ea7e2;

      .captain__head-mask {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 100%;
        height: 34px;

        .captain__head-mask-star {
          position: relative;

          display: block;

          margin: 3px auto;

          width: 0;
          height: 0;

          color: #fc2e5a;
          border-right: 5px solid transparent;
          border-bottom: 4px solid white;
          border-left: 5px solid transparent;
          transform: rotate(35deg);

          &:before {
            position: absolute;
            content: '';

            display: block;

            height: 0;
            width: 0;

            top: -2px;
            left: -3px;

            border-bottom: 4px solid white;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            transform: rotate(-35deg);
          }

          &:after {
            position: absolute;
            content: '';

            display: block;

            width: 0;
            height: 0;

            top: 0px;
            left: -5px;

            color: #fc2e5a;
            border-right: 5px solid transparent;
            border-bottom: 4px solid white;
            border-left: 5px solid transparent;
            transform: rotate(-70deg);
          }
        }

        .captain__head-nose {
          position: relative;
          flex-grow: 1;

          &::after {
            position: absolute;
            content: "";

            width: 5px;
            height: 5px;

            bottom: 0;
            left: 50%;

            border-radius: 2px 2px 0 0;
            background-color: #f6b2aa;
            transform: translateX(-50%);
          }
        }
      }

      .captain__head-face {
        width: 100%;
        height: 35px;

        border-radius: 0 0 50% 50%;

        background: linear-gradient(90deg, #eba580, #f6b2aa);
      }
    }

    .captain__body-container {
      display: flex;
      align-items: start;

      z-index: 1;

      width: 100%;

      .captain__arm-right,
      .captain__arm-left {
        display: flex;
        flex-direction: column;

        width: 20%;

        .captain__arm-shoulder-joint {
          width: 100%;
          height: 55px;
        }

        .captain__arm-shoulder {
          position: relative;

          width: 80%;
          height: 90px;

          z-index: 1;

          background-color: #ffffcb;
          transform: translateY(-25%);
        }

        .captain__arm-forearm {
          width: 30%;
          height: 30px;

          background-color: #ffffcb;
          transform: translateY(-85%);
        }

        .captain__arm-wrist {
          display: flex;
          flex-direction: column;

          width: 25px;

          overflow: hidden;
          transform: translateY(-75%);

          & > div {
            width: 100%;
            height: 35px;
          }
        }

        .captain__arm-brush {
          width: 20px;
          height: 20px;

          border-radius: 50%;
        }
      }

      .captain__arm-left {
        align-items: end;
        transform: translateX(40%);

        .captain__arm-shoulder-joint {
          border-radius: 50% 0 0 50%;
          background-color: #2a758e;
        }

        .captain__arm-shoulder {
          border-radius: 30% 5% 0 50%;
        }

        .captain__arm-wrist {
          align-items: end;

          & > div {
            background-color: #a03400;
            transform: translateX(25%) skew(15deg);
          }
        }

        .captain__arm-brush {
          background-color: #a03400;
          transform: translate(25%, -200%);
        }
      }

      .captain__arm-right {
        align-items: start;
        transform: translateX(-40%);

        z-index: 2;

        .captain__arm-shoulder-joint {
          background-color: #4ea7e2;
          border-radius: 0 50% 50% 0;
        }

        .captain__arm-shoulder {
          z-index: -1;
          border-radius: 50% 30% 50% 0;
        }

        .captain__arm-wrist {
          align-items: start;

          & > div {
            background-color: #ad390e;
            transform: translateX(-25%) skew(-15deg);
          }
        }

        .captain__arm-brush {
          background-color: #ad390e;
          transform: translate(-25%, -200%);
        }

        .captain__shield {
          position: relative;

          width: 150px;
          height: 150px;

          z-index: 10;

          transform: translate(-45%, -75%);

          border-radius: 50%;
          background-color: #ad390e;

          & > div:nth-of-type(1),
          & > div:nth-of-type(2),
          & > div:nth-of-type(3) {
            position: absolute;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
          }

          & > div:nth-of-type(1) {
            width: 80%;
            height: 80%;

            border-radius: inherit;
            background-color: #ffffcb;
          }

          & > div:nth-of-type(2) {
            width: 60%;
            height: 60%;

            border-radius: inherit;
            background-color: #4ea7e2;
          }

          & > div:nth-of-type(3) {
            margin: 15px 0;

            width: 0;
            height: 0;

            border-right: 25px solid transparent;
            border-bottom: 20px solid white;
            border-left: 25px solid transparent;
            transform: translate(-45%, -135%) rotate(35deg);

            &:before {
              position: absolute;
              content: '';

              display: block;

              height: 0;
              width: 0;

              top: -10px;
              left: -15px;

              border-bottom: 20px solid white;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              transform: rotate(-35deg);
            }

            &:after {
              position: absolute;
              content: '';

              display: block;

              width: 0;
              height: 0;

              top: 0px;
              left: -25px;

              border-right: 25px solid transparent;
              border-bottom: 20px solid white;
              border-left: 25px solid transparent;
              transform: rotate(-70deg);
            }
          }
        }
      }

      .captain__body-center {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 70%;
        overflow: hidden;

        .captain__body-torso {
          position: relative;

          width: 100%;
          height: 175px;

          border-radius: 0 0 50% 50%;
          background-color: #2a758e;
          transform: translateY(-40%);

          & > div:nth-of-type(1) {
            position: absolute;

            width: 100%;
            height: 100%;

            top: 0px;
            left: 10px;

            border-radius: 0 0 50% 50%;
            background-color: #4ea7e2;
          }

          & > div:nth-of-type(2) {
            position: absolute;
            margin: 15px 0;

            width: 0;
            height: 0;

            top: 50%;
            left: 50%;

            border-right: 25px solid transparent;
            border-bottom: 20px solid white;
            border-left: 25px solid transparent;
            transform: translate(-45%, 0%) rotate(35deg);

            &:before {
              position: absolute;
              content: '';

              display: block;

              height: 0;
              width: 0;

              top: -10px;
              left: -15px;

              border-bottom: 20px solid white;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              transform: rotate(-35deg);
            }

            &:after {
              position: absolute;
              content: '';

              display: block;

              width: 0;
              height: 0;

              top: 0px;
              left: -25px;

              border-right: 25px solid transparent;
              border-bottom: 20px solid white;
              border-left: 25px solid transparent;
              transform: rotate(-70deg);
            }
          }
        }

        .captain__body-pelvis {
          width: 50px;
          transform: translateY(-40%);

          z-index: 2;

          .captain__body-pelvis-belt {
            width: 100%;
            height: 15px;

            background-color: #a03400;

            & > div {
              margin: 0 auto;

              width: 40%;
              height: 100%;

              background-color: white;
            }
          }

          & > div:nth-of-type(2) {
            width: 100%;
            height: 10px;

            background-color: #445465;
          }

          & > div:nth-of-type(3) {
            width: 100%;
            height: 10px;

            background: linear-gradient(90deg, #2a758e, #4ea7e2);
          }

          .captain__body-pelvis-trousers {
            display: flex;
            justify-content: space-between;

            width: 100%;

            .captain__body-trousers-left,
            .captain__body-trousers-right {
              width: 15%;
              height: 150px;
            }

            .captain__body-trousers-left{
              background-color: #2a758e;
            }

            .captain__body-trousers-right {
              background-color: #4ea7e2;
            }
          }
        }

      }
    }

    .captain__legs-container {
      position: relative;

      display: flex;
      justify-content: space-between;

      width: 55px;

      z-index: 2;

      transform: translateY(-125%);

      .captain__legs-left,
      .captain__legs-right {
        position: relative;

        width: 20%;
        height: 60px;

        & > div:nth-of-type(1) {
          position: absolute;

          width: 175%;
          height: 15px;

          top: 0;
          left: 50%;

          background-color: inherit;
          transform: translateX(-50%);
        }

        & > div:nth-of-type(2) {
          position: absolute;

          width: 300%;
          height: 5px;

          bottom: 0;

          background-color: inherit;
        }
      }

      .captain__legs-left {
        background-color: #a03400;

        & > div:nth-of-type(2) {
          transform: translateX(-75%);
        }
      }

      .captain__legs-right {
        background-color: #ad390e;
      }
    }
  }
}