.anim-pagination {
  padding: 6px;
  height: 52px;
  background-color: #38c394;

  display: flex;
  align-items: center;
}

/* Arrows */
.anim-pagination__arrow-left,
.anim-pagination__arrow-right {
  position: relative;
  padding: 15px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    background-color: #fff;
    opacity: 0.5;
    transition: transform 0.2s ease-in-out;
  }
}

.anim-pagination__arrow-left {
  margin-right: 30px;

  &::before,
  &::after {
    left: 0;
    transform-origin: 0 50% 0;
  }
  &.active::before {
    transform: translateY(-50%) rotate(-35deg);
    opacity: 1;
  }
  &.active::after {
    transform: translateY(-50%) rotate(35deg);
    opacity: 1;
  }
  &.active:hover {
    &::before { transform: translateY(-50%) rotate(-25deg); }
    &::after { transform: translateY(-50%) rotate(25deg); }
  }
}
.anim-pagination__arrow-right {
  margin-left: 30px;

  &::before,
  &::after {
    right: 0;
    transform-origin: 100% 50% 0;
  }
  &.active::before {
    transform: translateY(-50%) rotate(35deg);
    opacity: 1;
  }
  &.active::after {
    transform: translateY(-50%) rotate(-35deg);
    opacity: 1;
 }
 &.active:hover {
   &::before { transform: translateY(-50%) rotate(25deg); }
   &::after { transform: translateY(-50%) rotate(-25deg); }
 }
}

/* Text */
.anim-pagination__item::before {
  content: "1 / 5";
  color: #fff;

  animation-timing-function: linear;
  animation: anim-pagination 10s infinite;
}