.header {
  padding: 25px 0;
  background-color: $accent-color;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.header-nav__item {
  padding: 0px 25px;

  border: 1px solid $accent-color-hover;
  border-radius: 10px;
  background-color: $accent-color;

  transition: background-color 0.1s ease-in, border-color 0.1s ease-in;

  font-size: 14px;
  line-height: 45px;
  color: #fff;

  &:hover {
    background-color: $accent-color-hover;
    animation: wiggle 2.5s infinite;
  }
  &:active,
  &.active {
    background-color: $accent-color-active;
    border-color: #fff;
  }
}